.heroImg {
    width: 50%;
    z-index: 1;
    /* float: right; */
    

    
  
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
  }